@import "tailwindcss";

:root {
  --color-background: #000000;
  color-scheme: dark;
}

body {
  margin: 0;
  /* Esto evita que el contenido se meta debajo de la barrita del iPhone */
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  overflow-x: hidden;
}

/* Evita que los modales se pisen con el teclado */
.modal-content {
  max-height: 80vh;
  overflow-y: auto;
}
